
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-s);
    line-height: var(--line-height-text);
}

* {
    margin: 0;
    padding: 0;
}


header {
    position:sticky;
    top: 0;
    z-index: 1000;
    transition: all .3s;
}


/* eerste header */
.main-nav {
    background-color: var(--primary-color);
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-nav a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--font-size-s);
}

.main-nav a:hover {
    color: var(--primary-lighter-color);
    text-decoration: underline;
}

.nav-links {
    display: flex;
    margin-left: 15px;
}

.nav-rechts {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.zoekicon:hover {
    scale: 1.2;
}

.nl-vlag:hover {
    scale: 1.2;
}

.uk-vlag:hover {
    scale: 1.2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* tweede header */
.ham-menu {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    z-index: 1000;
}

.logo img {
    display: none;
    width: 200px;
    margin-left: 1em;

    @media (min-width: 810px) {
                width: 270px;
                display: flex;

    }

        @media (min-width: 1149px) {
                width: 270px;
                display: flex;

    }
}

.sub-logo {
    margin-left: -200px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (min-width: 810px) {
                width: 270px;
                display: none;
    }
    
        @media (min-width: 1149px) {
            width: 270px;
            display: none;
    }
}

/* hamburger menu van yt filmpje */
.burger-menu {
    display: flex;
    align-items: center;
    gap: 35px;

    @media (max-width: 1149px) {
        position:absolute;
        top: 120px;
        left: 0;
        background: var(--white-color);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0px;
        display: none;
        z-index: 999;
    }
}

.burger-menu a {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-m);
    transition: 03.s;
    color: var(--black-color);
}


.burger-menu a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.burger-menu a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 0;
    background: var(--accent-color);
    transition: width 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white-color);
    padding: 25px 10px 10px 10px;
    display: none;
    z-index: 999;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 10px 20px;
    color: var(--black-color);
    font-size: 0.95rem;
}

.dropdown-menu a:hover {
    color: var(--accent-color);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-10p);
    }
    to {
        opacity: 1;
        transform: translateY(0p);    
    }
}

.menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    z-index: 1000;
    cursor: pointer;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: var(--black-color);
    border-radius: 3px;
    transition: 0.4s;
}


.menu-toggle:checked ~ .burger-menu {
    display: flex;
    top: 100%;


            @media (min-width: 810px) {
            top: 100%
    }
}

.menu-btn {
    display: flex;

            @media (min-width: 1149px) {
            display: none;
    }
}

.svg {

    @media (min-width: 1149px) {
            display: none;
    }
}


.menu-toggle:checked + .menu-btn
span:nth-child(1) {
    transform: rotate(45deg)
    translateY(7px);
}

.menu-toggle:checked + .menu-btn
span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-btn
span:nth-child(3) {
    transform: rotate(-45deg)
    translateY(-7px);
}


/* header foto */
.banner {
  position: relative;
  width: 100%;;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(40%); 

      @media (min-width: 810px) {
        font-size: 45px;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
}


/* alle evenementen */
.evenementen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

article img {
     @media (min-width: 810px) {
        width: 100%;       
    }
}

h2 {
    margin-left: 1.5rem; 

    @media (min-width: 810px) {
        margin-left: 1.9rem; 
        font-size: 1.8em;
    }

    @media (min-width: 1149px) {
        margin-left: 1.9rem; 
        font-size: 1.8em;
    }
}

.favorieten {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--black-color);
    margin-left: 5em;

    @media (min-width: 810px) {
        margin-left: 18em;
        font-size: 1em;
    }

     @media (min-width: 1149px) {
        margin-left: 43rem; 
        font-size: 1.2em;
    }
}

.favorieten:hover {
    color: var(--accent-color);

}

.alle-evenementen {
     @media (min-width: 810px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media (min-width: 1149px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.leesmeer-like-button {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr ;
}

article {
    position: relative;
    box-shadow: 0 4px 40px rgba(0,0,0, 0.15);
    padding: 1.2em;
    margin: 1em;
    border-radius: 1em;
}

.tekst {
    margin-bottom: 1em;
}


/* titel evenement */
h3 {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}   

.tekst {
    max-width: 91%;
}

/* like button */
button {
    border: none; 
    background-color: transparent;
}

/* like button bij evenement */
main svg {
    fill: transparent;
    stroke: black;
    width: 15%;
    cursor: pointer;
}


.filter svg {
    fill: rgb(0, 0, 0);
}


main .hart-leeg svg {
    width: 18%;
    cursor: pointer;

    @media (min-width: 810px) {
        width: 14%;
        display: grid;
    }
}


/* svg na een like */
.hart-fill svg {
    fill: var(--accent-color);
    stroke: var(--accent-color);

    animation-name: --svg-it-animation ;
	animation-duration: .2s;
	animation-iteration-count: 2;
	animation-fill-mode: forwards;
}

@keyframes --svg-it-animation {
	0% {
		scale:100%;
	}
	
  50% {
		scale:125%;
  }
	
  100% {
		scale:100%;
  }
}


/* article evenement */
article {
    margin-bottom: 2em;
}

.datum {
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 0.4em;
}

.button-leesmeer {
    color: var(--primary-lighter-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: .7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 0.8em;
    margin-right: 1em;

     @media (min-width: 1149px) {
        padding: 1em;
    }
}

.button-leesmeer:hover {
    background-color: var(--primary-lighter-color);
    color: var(--primary-color);
}
 
.paginas {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 2em;
}


/* footer */
.footer-info {
    background-color: var(--primary-color);
    font-size: var(--font-size-m);
    color: var(--white-color);
}

.footer-info img {
    margin: 18px 0 5px 13px;

     @media (min-width: 810px) {
            margin: 20px 0 0 50px;
    }

    @media (min-width: 1100px) {
            margin-left: 28.5rem;
    }
}

.footer-info li {
    list-style: none;
}


/* details in footer */
.kopjes-menu {
    @media (min-width: 810px) {
        display:flex;
        gap:0em;
        justify-content: space-between;

        max-width:50em;
        
        /* margin-left:auto; */
        /* margin-right:auto; */
        margin-inline: auto;
    } 

    @media (min-width: 1100px) {
        max-width:50em;
    } 
}


details {
  background-color: var(--primary-color);

  @media (min-width: 810px) {
        margin-left: 2em;
        margin-right: 2em;
    } 
}


/* summary */
summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: var(--font-size-m);

    cursor: pointer;

    @media (min-width: 810px) {
        cursor: default;
        font-weight: var(--font-weight-heading);
    } 
}

summary::after { 
    content: '';
    border: solid var(--white-color);
    border-width: 0 3px 3px 0;
    padding: 4px;
    transition: 0.3s;
    rotate:45deg;

    @media (min-width: 810px) {
        display: none;
    } 
}

details[open] > summary::after {
  rotate:-135deg;
}

summary::-webkit-details-marker {
  display: none;
}

/* de wrapper om wat af en toe zichtbaar is of niet */
details::details-content {
    @media (width > 810px) {
        /* op groyter scherm altijd zichtbaar */
        content-visibility: visible;
    }
}


details ul {
    padding:0 0 0 1.25rem;
    margin:0 0 1rem;
}

details a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--font-size-s);
}

details a:hover {
    color: var(--primary-lighter-color);
}
